body {
  width: 100vw;
  overflow-x: hidden;
}

  .Body {
  width: 100vw;
  height: 100vh;
  background-image: url("./Assets/brooke-cagle-cb4Dv50LN1Y-unsplash\ 1.jpg");
  background-size: 100%;
  margin:0;
  
  
    
  }
  .header {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
   
  }
  .bar {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  }
  .content {
    width: 700px;
    height: 700px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .title {
    width: 530px;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    margin-left: 200px;
  }
  .text {
    width: 320px;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 20px;
  }
  .inputContainer {
    width: 530px;
    gap: 20px;
    margin-left: 200px;
    margin-top: 2 0px;
  }
  .input {
    width: 320px;
    height: 52px;
    border: 0.5px solid grey;
  }
  .button {
    width: 160px;
    height: 56px;
    background-color: #0bbef2;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    border: 0.5px solid grey;
    margin-left: 20px;
    
  }
  .Product{
   background-color: #0bbef2;
   width: 200vh;
   height: 100vh;
  }
  .App {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 28.11px;
    font-weight: 700;
  }
  .Bar{
    width:500px;
    display: flex;
    flex-direction: row;
  }
  .Logo{
    width:500px;
    display: flex;
    flex-direction: row;  
  }
  .logo{

    height: 22px;
    width: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 28.11px;
    font-weight: 700;
    background-image: url("./Assets/team..png");
  }
  .Contacts{
    background-color: #3b3b3b;
    width: 200vh;
    height: 100vh;
   }
   .Services{
    background-color: green;
    width: 200vh;
    height: 100vh;  
   }
   .Login{
    background-color: white;
    width: 100%;
    height: 70vh;
   }
.Container{
  width:100vw;
  height:100vh;
  margin: 0;
}
.Garchig{
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 700;
  
}
.Textbox{
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  margin-top: 600px;
  width: 400px;
  height: 700px;
}
.image1{
  background-image: url("./Assets/meet.png");
  position: absolute;
  width: 660px;
  height: 705px;
  left: 1580px;
  top: 1270px;
}
.Content{
  font-size:larger;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 10;
}
.Textbox2{
  display: flex;
  margin-left: 1400px;
  flex-direction: column;
  margin-top: 100px;
  width: 400px;
  height: 700px;
}
.Garchig2{
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 700;
  
}
.Content2{
  font-size:larger;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 10;
}
.image2{
  background-image: url("./Assets/brooke-cagle-JBwcenOuRCg-unsplash\ \(1\)\ 1.png");
  position: absolute;
  width: 560px;
  height: 570px;
  left: 230px;
  top: 2170px;
}
.Textbox3{
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  margin-top: 100px;
  width: 400px;
  height: 700px;
}
.Garchig3{
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 700;
  
}
.Content3{
  font-size:larger;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 45px;
  font-weight: 10;
}
.image3{
  background-image: url("./Assets/brooke-cagle-JBwcenOuRCg-unsplash\ \(1\)\ 1-2.png");
  position: absolute;
  width: 560px;
  height: 570px;
  left: 1580px;
  top: 2960px;
}
.title2{
  width: 600px;
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  margin-left: 650px;
  display: flex;
  margin-top: 100px;
}
.Textboxcontainer{
  width:100vw;
  height: 500px;
  display: flex;
  gap: 40px;
  overflow-x: scroll;
  margin-top: 200px;
}
.Textbox4{
  width: 300px;
  height: 350px;
  background-color:white;
  border-color: gray;
  box-shadow:0px 0px 1px 4px black inset;
  margin: 10px;
}
.star{
  margin-top: 40px;
  margin-left: 30px;
}
.Content4{
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
}
.Profile{
  margin-top: 0px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 30px;
  background: url(./Assets/Ellipse.png);
}
.Name{
  font-size: large;
}
.Footercontainer{
  width: 200vh;
  margin-top: 100px;
  height: 400px;
  background-color:#252B3B;
  
}
.Logo2{
  width:500px;
  display: flex;
  flex-direction: row;  
}
.logo2{
  margin-top: 50px;
  margin-left: 140px;
  height: 22px;
  width: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
  line-height: 28.11px;
  font-weight: 700;
  background-image: url(./Assets/team..png);
}
.inst{
  background-image: url("./Assets/Instagram.png");
  width:22px;
  height: 1px;
  margin-top: 30px;
  margin-left: 140px;
}
.Instagram {
  display: flex;
}
.BLOGPOSTS{
  background-color: aliceblue;
}

